@charset "UTF-8";

.retryMsg{
	position:absolute; 
	top:100px; left: 500px; 
	width: 150px;
	height: 100px;
	line-height: 100px;
	/* 사이즈, 폰트 등 지정해줘야 함. */
	background-image: url("/pickmeal/resources/img/game/retryBackground.png");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	display: none;
}
#gameDataForm {
	width: 100%; height: 100%; display: flex; flex-flow: row wrap; justify-content: space-between;
	align-items: center; position: relative;
}
#mapRadius{	
    text-align: center;
    width: 45%;
    height: 35px;
}
.radiusLabel{
	padding: 0 10px;
    line-height: 35px;
    border: none;
    background-color: #fff;
    font-size: 14px;
}

#resCategory{
	width: 50%;
    height: 35px;
    text-align: center;
}
.categoryLabel{
	padding: 0 10px;
    border: 1px solid #000;
    line-height: 35px;
    border: none;
    background: #fff;
    display: inline-block;
    font-size: 14px;
}
.categoryLabel:hover, .radiusLabel:hover{
	font-weight: bold;
	color: #8000ff;
	text-decoration: underline;
}
.categoryOn, .radiusOn{
	font-weight: bold;
	color: #8000ff;
	text-decoration: underline;
}
.radius, .category{
	display: none;
}
#submitWrapForGame{
	position: absolute; bottom: -50px; right: 0;
}
#submitWrapForGame .gamePlayBtn{
	padding: 0 15px; line-height: 35px;
    font-family: 'DungGeunMo';
    border: none; transition-duration: 0.1s;
    background: #f23f3f; border-radius: 10px;
	box-shadow: -3px 3px 5px #808080;
    color: #fff;   
}
#submitWrapForGame .gamePlayBtn:hover {
	background-color: #F67E7E;
}
/* 메뉴 골라주기 버튼 */
#menuGameButtonWrap {
	position: absolute;
    top: 70px;
    left: 5%;
    height: 40px; width: 220px;
}
#menuGameButtonWrap form {
	display: flex; flex-flow: row nowrap; justify-content: space-around;
	align-items: center;
}
#menuGameButtonWrap label {
	display: block; width: 34px; height: 40px; cursor: pointer;
	background: url(/pickmeal/resources/img/map/menuPick.png) no-repeat center / 40px;
}
#menuGameButtonWrap .menuSubmit{
    font-family: 'DungGeunMo';
	padding: 8px;
    border: 1px solid #BF9000;
    border-radius: 10px;
    background-color: #ffffb7;
    text-align: center;
}
