@charset "UTF-8";
#postings {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#postings h3{
	margin: 20px 0;
    font-size: 2rem;
}

.postings_wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    margin-top: 30px;
    border: #5a5a5a 1px solid;
	align-items: center;
}

.postings_wrap .postBtnWrap {
    position: absolute;
    top: -30px;
    left: 0;
    display: flex;
    width: 200px;
    justify-content: space-evenly;
}

.postings_wrap .postBtnWrap .postBtn.on {
	color: #ed7672;
	text-decoration: underline;
}

.postings_wrap .postBtnWrap .postBtn {
    height: 20px;
}

.postings_wrap .postBtnWrap .postBtn:hover {
	color: #ed7672;
	text-decoration: underline;
}

.postings_wrap .postBox {
    display: flex;
    width: 100%;
    min-height: 130px;
    border-bottom: #5a5a5a 1px solid;
    align-items: center;
    position: relative;
    padding: 20px 0;
}

.postings_wrap .postBox:hover {
    background-color: #f5f5f5;
}

.postings_wrap .postBox:last-child {
    border: 0;
}

.postings_wrap .postBox .postType {
    width: 200px;
    padding: 10px;
    text-align: center;
    font-size: 1.3rem;
}

.postings_wrap .postBox .post .postTitle {
    width: 90%;
    font-size: 1.3rem;
}

.postings_wrap .postBox .postDelBtn {
    position: absolute; right: 2rem; top: 50%; transform: translateY(-50%);
    font-size: 1.1rem; padding: 2px;
}

.pageNumBox {
    margin-top: 20px;
}

#postListNaviContainer {
	clear: both;
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.postListNaviWrap ul li {
	float: left;
	margin: 0 10px;
}

.postListNaviWrap ul li a {
	position: relative;
	color: #5a5a5a;
	font-weight: 600;
	font-size: 1.2em;
}

.postListNaviWrap ul li a.postListNaviSelected {
	color: #ed7672;
}

.postListNaviWrap ul li a:hover {
	color: #ed7672;
}

.postListNaviWrap ul li a:hover::after, .postListNaviSelected::after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	height: 2px;
	width: 100%;
	background: #ed7672;
}